.wbdv-sticky-top {
    position: fixed;
    width: 100%;
    background-color: dodgerblue;
    z-index: 1;
}
.wbdv-heading-color {
    color: white;
    padding-top: 3px;
}

.wbdv-title {
    color: dimgrey;
}

.wbdv-full-page {
    position: fixed;
    width: 100%;
    background-color: lightgrey;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.wbdv-padding-10px {
    padding: 10px;
}

.wbdv-courselist-grid {
    padding: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: auto;
}

.wbdv-icon-style {
    color: white;
    padding-top: 2px;
    padding-left: 2px;
}

.wbdv-plus-icon-style {
    padding-top: 2px;
    padding-left: 2px;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:red;
    color:white;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

.wbdv-align-right {
    text-align: right;
}


